{% extends 'index.html' %}
{% block body %}
<p>
    <h3>Admin:</h3>
Can perform administrative tasks such as adding, viewing, updating
and deleting student records.
Can change their own password and perform similar operations for faculty and courses.
Additionally, can do faculty-course mapping, which involves assigning courses to faculty members.</p>

<p>
    <h3> Faculty:</h3>
The Faculty can change their password view their course ,can add course Content
</p>
<p>
    <h3> Student:</h3>
  He can able to view courses ,can change his details .He Can view courses ,can change password ,view Course content
</p>
<!--Admin<br>-->
<!--Student<br>-->
<!--Faculty<br>-->

{% endblock %}