{% extends 'adminhome.html' %}
{% load static %}
{% block 'body' %}
<h3 align="right"> Welcome {{adminuname}}</h3>
<style>
    body {

        background-image: url('{% static "images/ac.jpg" %}');
        background-size: 100% 100%; /* Ensure the image covers the entire background */
        background-position: center center;
        background-repeat: no-repeat;
        filter: brightness(1.2);
    }

    .form-container {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
        margin: 50px auto;
        width: 60%;
    }

    h2, h3 {
        color: aqua;
    }
</style>

<h2 align="center">{{msg}}</h2>
<h3 align="center"><u> Update COURSE</u></h3> <br>


<!--<p> I AM IN ADD COURSE PAGE</p>-->
<form method="post" action="{% url 'courseupdated' %}">
    {% csrf_token %}
    <table align="center" WIDTH="30%">
        <!-- Add the rest of your form content here, as it was in your original code -->

        <tr align="center">
            <td><label>Course Id</label></td>
            <td><input type="number" name="cid" value="{{cid}}"readonly></td>
        </tr>



        <tr align="center">
            <td style="margin-bottom: 10px;"> <label> Enter Course Title</label></td>
            <td style="margin-bottom: 10px;">
               <input type="text" name="ctitle" required>
            </td>
        </tr>
        <tr align="center">
            <td style="margin-bottom: 10px;"> <label>  LTPS</label></td>
            <td style="margin-bottom: 10px;">
               <input type="text" name="ltps" required placeholder="X-X-X-X">
            </td>
        </tr>
        <br>
       <tr align="center">
            <td style="margin-bottom: 10px;"> <label> Enter Credits</label></td>
            <td style="margin-bottom: 10px;">
               <input type="number" name="credits" min="0" max="8" required>
            </td>
        </tr>
        <tr align="center">
            <td><button type="submit" class="button" style="background-color: lightskyblue; color: white;">Update</button></td>
            <td><button type="reset" class="button" style="background-color: lightskyblue; color: white;">Clear</button></td>
        </tr>
    </table>
</form>

{% endblock %}
