{% extends 'index.html' %}

{% block body %}

 <h2 align="center">{{message}}</h2>
<form method="post" action="{% url 'checkadminlogin' %}">
    {% csrf_token %}

    <div style="text-align: center; margin-top: 50px;">

        <h2>Admin Login</h2>

        <label for="username">Enter Username:</label>
        <input type="text" id="username" name="uname" required>

        <br>

        <label for="password">Enter Password:</label>
        <input type="password" id="password" name="pwd" required>

        <br>

        <button type="submit">Login</button>
        <button type="button">Clear</button>
    </div>
</form>

{% endblock %}
